@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #222222;
}
.form{
    width: 70%;
    background: #222222;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
    margin: 50px auto;
}
.form-head{
    position: relative;
    height: 50px;
    background: #65daff;
    color: white;
    text-align: center;
}
.btn-back{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: black;
    font-weight: 700;
    transition: 0.3s;
}
.btn-back:hover{
    color: grey;
}
.btn-back:active{
    background: black;
    color: white;
}
.form-body{
    padding: 30px;
    color: white;
}
.fname, .lname{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 20px;
    width: 100%;
    color: white;
    outline: none;
}
.input-wrapper{
    margin: 30px 0px;
}
.male-radio{
    margin-right: 10px;
}
.female-radio{
    margin-right: 10px;
    margin-left: 30px;
}
.age{
    margin-right: 10px;
}
.comment{
    display: block;
    width: 100%;
    max-height: 200px;
    height: 200px;
    background: none;
    border: 1px solid white;
    margin-bottom: 30px;
    outline: none;
    padding: 15px;
    resize: none;
    color: white;
}
.submit{
    display: block;
    width: fit-content;
    padding: 20px 80px;
    margin: 30px auto;
    border: none;
    background: linear-gradient(45deg, #65daff, #70ffcb);
    color: white;
    outline: none;
}
.submit:hover{
    background: linear-gradient(45deg, #347083, #388065)
}
.submit:active{
    background: black;
    color: white;
}
.field{
    padding: 30px;
    margin-bottom: 30px;
}