@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #222222;
    cursor: default;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.header-title{
    font-size: 300px;
    font-weight: 700px;
    color: #65daff;
}
.section-title{
    font-size: 30px;
    font-weight: 700;
    color: #65daff;
    margin-bottom: 50px;
}
.section-text{
    font-weight: 300px;
    font-size: 20px;
    color: white;
    line-height: 35px;
}
.nav-menu{
    position: fixed;
    background: #222222;
    width: 100%;
    height: 80px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
    z-index: 100;
    line-height: 80px;
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.nav-item{
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    margin-left: 10px;
    transition: 0.5s;
}
.nav-item:hover{
    color: #65daff;
    text-shadow: 0px 0px #65daff;
}
.navigation{
    float: right;
}
.site-header{
    position: relative;
    background: url('img/apex-legends-pathfinder-robot-emoticons-saluting-futuristic.jpg') center/cover no-repeat;
    height: 80vh;
}
.header-content{
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}
.header-title{
    color: #4e4e4e;
    font-size: 100px;
    font-weight: 900px;
    margin-bottom: 50px;
}
.header-subtitle{
    color: #4e4e4e;
    height: 50px;
    margin-bottom: 50px;
}
.header-btn{
    width: fit-content;
    display: block;
    padding: 30px 80px;
    background: linear-gradient(45deg, #65daff, #70ffcb);
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.header-btn:hover{
    transform: scale(1.1);
}
.header-btn:active{
    background: linear-gradient(45deg, #347083, #388065);
}
.about{
    height: 40vh;
    text-align: center;
}
.about-card{
    display: inline-block;
    margin-top: 100px;
    width: 24%;
    height: 200px;
    text-align: center;
    vertical-align: top;
}
.about-card_image{
    height: 130px;
    margin-bottom: 30px;
}
.about-card_title{
    font-size: 30px;
    color: #65daff;
}
.games-container{
    margin-top: 100px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
    padding: 30px 0px;
    text-align: center;
}
.games-content_img{
    display: inline-block;
    background: url('img/csgo.jpg') left/cover no-repeat;
    width: 49%;
    height: 350px;
    vertical-align: top;
}
.games-content_img2{
    display: inline-block;
    background: url('img/dota2.jpg') left/cover no-repeat;
    width: 49%;
    height: 350px;
    vertical-align: top;
}
.games-content_img3{
    display: inline-block;
    background: url('img/apex.jpg') left/cover no-repeat;
    width: 49%;
    height: 350px;
    vertical-align: top;
}
.games-card-content{
    display: inline-block;
    width: 49%;
    min-height: 350px;
    vertical-align: top;
    text-align: left;
    padding: 0px 15px;
}
.games-card-content2{
    display: inline-block;
    width: 49%;
    min-height: 350px;
    vertical-align: top;
    text-align: right;
    padding: 0px 15px;
}
.game-title{
    font-size: 25px;
    color: #70ffcb;
}
.game-dividir{
    width: 130px;
    border: none;
    height: 3px;
    background: #70ffcb;
    margin: 20px 0px;
}
.comment{
    margin-top: 30px;
    color: white;
    text-align: center;
}
.discord-content{
    text-align: center;
    margin: 30px auto;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
}
.top{
    padding-top: 30px;
}
hr{
    display: inline-block;
    width: 30%;
}
.discord-link{
    background: linear-gradient(45deg, #65daff, #70ffcb);
    color: white;
    text-decoration: none;
    width: 90%;
    margin: 30px auto;
    padding: 30px 0px;
}
.discord-title{
    font-size: 30px;
    color: white;
    width: 69%;
    display: inline-block;
}
.link{
    display: inline-block;
    width: 29%;
    text-decoration: none;
    color: white;
    background: #222222;
    padding: 15px 0px;
}